<% if route.path_info.match?(%r{\A/(?:cats|logs|seek)?\z}) %>
<div class="options">
  <label for="lang_select">Language:</label>
  <select id="lang_select" name="lang" onchange="roll(this)">
    <option value="en" <%= selected_lang('en') %>>BCEN</option>
    <option value="tw" <%= selected_lang('tw') %>>BCTW</option>
    <option value="jp" <%= selected_lang('jp') %>>BCJP</option>
    <option value="kr" <%= selected_lang('kr') %>>BCKR</option>
  </select>

  <% if route.path_info.match?(%r{\A/(?:seek)?\z}) %>
  <label for="version_select">Version:</label>
  <select id="version_select" name="version" onchange="roll(this)">
    <% if route.path_info == '/seek' %>
      <option value="8.6">8.6+ (forgothowtoreddid)</option>
    <% else %>
      <option value="8.6" <%= selected_version('8.6') %>>8.6+</option>
    <% end %>
    <option value="8.5" <%= selected_version('8.5') %>>8.5</option>
    <option value="8.4" <%= selected_version('8.4') %>>8.4</option>
  </select>
  <% else %>
  <%= hidden_inputs('version') %>
  <% end %>

  <% if route.path_info != '/logs' %>
  <label for="name_select">Name:</label>
  <select id="name_select" name="name" onchange="roll(this)">
    <option value="0" <%= selected_name(0) %>>Base</option>
    <option value="1" <%= selected_name(1) %>>Evolved</option>
    <option value="2" <%= selected_name(2) %>>True</option>
  </select>
  <% else %>
  <%= hidden_inputs('name') %>
  <% end %>

  <% if route.path_info == '/' %>
  <label for="theme_select">Theme:</label>
  <select id="theme_select" name="theme" onchange="roll(this)">
    <option value="" <%= selected_theme('') %>>Default</option>
    <option value="mkweb" <%= selected_theme('mkweb') %>>mkweb</option>
  </select>
  <% else %>
  <%= hidden_inputs('theme') %>
  <% end %>

  <% if route.path_info == '/cats' %>
  <div class="cats">
    <% each_ball_cat do |rarity, cats| %>
      <%= header(1, rarity) %>
      <ol>
        <% cats.reverse_each do |c| %>
          <li>
            <input type="checkbox" onchange="roll(this)"
              name="t" id="cat-<%= c.id %>" value="<%= c.id %>"
              <%= checked_cat(c) %>>
            <label for="cat-<%= c.id %>"><%= link_to_roll(c) %></label>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
  <% end %>
</div>
<% else %>
<%= hidden_inputs('lang', 'version', 'name') %>
<% end %>

<%= hidden_inputs('o') %>
